{#{% extends 'JsFunction.html' %}#}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>

    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
{% block content %}
{#    <fieldset name="Multiple Files Upload">#}
{#        <div id="msg"></div>#}
{#        <p>#}
{#            {% csrf_token %}#}
{#            <input type="file" id="multiFiles" name="file[]" multiple="multiple"/>#}
{#            <button id="bt_upload" class="btn btn-primary">Upload</button>#}
{#        </p>#}
{#    </fieldset>#}
    <label>Select DB and Table</label><BR>
    <select class="form-control" name="DBName" id="databasename" required="required">
        {% for c in alldatabase %}
            <option>{{ c }}</option>
        {% endfor %}
    </select>

    <select class="form-control" name="TBName" id="datatablename" required="required">
        {% for c in alldatatable %}
            <option>{{ c }}</option>
        {% endfor %}
    </select><BR><BR>


    <label>Search by 2DID code</label><BR>
    <input type="text" id="tx_daterange" value="02/02/2023 - 02/15/2023"/><BR>
    <input type="text" id="tx_searchPN" value="...." maxlength="30" style="width:300px;">
    <button id="bt_searchPN">Search PN</button><BR>


    <BR><label>Status Log: </label>
    <label id="lb_Status">....................</label><BR><BR>

    <table border="1px" width="100%" style="border-collapse: collapse;" name="TableShow" id="TableShow"
           required="required">
    <tr>
        {% for COLUMN in COLUMNS %}
            <th>{{ COLUMN }}</th>
        {% endfor %}
    </tr>

    {% for row in output %}
        <tr>
            {% for value in row %}
                <td align="center">
                    {#            {% if forloop.counter == 2 %}#}
                    {#             <a class="stored-uploadTest {{ file.type }}" href="uploadTest?filename={{ value }}&type=desktop&mode=view"">#}
                    {#                {{ value }}#}
                    {#             </a>#}
                    {#             {% else %}#}
                    {#                {{ value }}#}
                    {#            {% endif %}#}
                    {{ value }}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}

</table>
{% endblock %}
<script src="{% static 'base/js/index_Test.js' %}"></script>
{#</body>#}
{#</html>#}