<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>

<body>
<form enctype="multipart/form-data" method="post">

    {% block content %}
        <select class="form-control" name="DBName" id="databasename" required="required">
            {% for c in alldatabase %}
                <option>{{ c }}</option>
            {% endfor %}
        </select>

        <select class="form-control" name="TBName" id="datatablename" required="required">
            {% for c in alldatatable %}
                <option>{{ c }}</option>
            {% endfor %}
        </select>


        <table border="1px" width="100%" style="border-collapse: collapse;" name="TableShow" id="TableShow"
               required="required">
        <tr>
            {% for COLUMN in COLUMNS %}
                <th>{{ COLUMN }}</th>
            {% endfor %}
        </tr>

        {% for row in data %}
            <tr>
                {% for value in row %}
                    <td align="center">
                        {#            {% if forloop.counter == 2 %}#}
                        {#             <a class="stored-uploadTest {{ file.type }}" href="uploadTest?filename={{ value }}&type=desktop&mode=view"">#}
                        {#                {{ value }}#}
                        {#             </a>#}
                        {#             {% else %}#}
                        {#                {{ value }}#}
                        {#            {% endif %}#}
                        {{ value }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    {% endblock %}
    </table>

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script>
        $("#databasename").change(function () {
            var options = $("#databasename option:selected"); //获取选中的项
            var db_link_id = options.val(); //获取选中的值
            {#alert("ok");#}
            {#aalert(db_link_id);#}

            // 选择id=db_link的元素时触发该ajax请求，调用/comparison/get_table接口
            $.ajax({
                url: '/get_table/',
                data: {"db_link_id": db_link_id},
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    var content = '';
                    {#alert(123456);#}
                    $.each(data, function (i, item) {
                        // 调用接口后返回list数据[u'account_role', u'account_user'],循环遍历该list拼接选项的内容
                        content += '<option>' + item + '</option>'
                    });
                    // 将拼接好的内容作为id=db_table这个select元素的内容
                    $('#datatablename').html(content)
                },
            })
            $("#datatablename").change();
        })
        $(document).ready(function(){
            $("#datatablename").change();
        })
        $("#datatablename").change(function () {
            var options = $("#databasename option:selected"); //获取选中的项
            var db_Name = options.val(); //获取选中的值
            options = $("#datatablename option:selected"); //获取选中的项
            var db_Table = options.val(); //获取选中的值
            {#alert("ok");#}
            alert(db_Name + " " + db_Table);

            {#var val = this.value;#}
            {#alert(val)#}

            // 选择id=db_link的元素时触发该ajax请求，调用/comparison/get_table接口
            $.ajax({
                url: '/get_table_data/',
                data: {"db_Name": db_Name, "db_Table": db_Table},
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    var content = '';
                    {#alert(123456);#}
                    content += '<tr>';
                    $.each(data['COLUMNS'], function (i, item) {
                        // 调用接口后返回list数据[u'account_role', u'account_user'],循环遍历该list拼接选项的内容
                        {#content += '<option value=' + item + '>' + item + '</option>'#}
                        content += '<th id=' + item + '>' + item + '</th>'
                        {#alert(COLUMNS);#}
                    });
                    content += '</tr>';
                    $.each(data['output'], function (i, row) {
                        // 调用接口后返回list数据[u'account_role', u'account_user'],循环遍历该list拼接选项的内容
                        {#content += '<option value=' + item + '>' + item + '</option>'#}
                        content += '<tr>';
                        $.each(row, function (index, value) {
                            content += '<td  align="center">' + value + '</td>'
                        });
                        content += '</tr>';
                    });
                    // 将拼接好的内容作为id=db_table这个select元素的内容
                    $('#TableShow').html(content)
                    {#$('#PNPDeviceID').hide()#}
                    $('#TableShow tr > *:nth-child(5)').hide();
                },
            })
        })
    </script>

</form>
</body>
</html>